h1{
text-align: center;
margin-top: 250px
}


.respond{
  text-align: center;
  width: 10rem;
  margin: auto;
  display: block;
  height: 120px;
  width: 250px;
  border-radius: 50%;
  border: 1px solid;
  background-color: #20B2AA
}
body{
  background-color: #D8BFD8
}
.hidden{
  visibility: hidden;

}
